.services-section {
    position: relative;
    display: block;
    width: 100%;
    background: #000213; 
    padding: 100px 10%;
    color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Heading Styles */
.services-section .sub-title {
    color: #00ffdd;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 10px;
}

.services-section h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    margin-bottom: 60px;
    color: #fff;
}


.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px; 
    width: 100%;
    max-width: 1000px; 
}


.services-box {
    text-decoration: none;
    color: inherit;
    display: block;
}


.services-box {
    position: relative;
    width: 100%;
    background: radial-gradient(circle at 10% 20%, rgba(0, 13, 65, 0.859) 0%, rgb(0, 9, 36) 90%);
    border: 1px solid rgba(0, 234, 255, 0.195);
    border-radius: 15px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: all 0.3s ease;
    cursor: pointer;
}


.services-box:hover {
    transform: translateY(-8px);
    background: #ffffff;
    border-color: rgb(0, 255, 221);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Icon style */
.services-box .services-icon {
    color: #00ffdd; 
    font-size: 38px; 
    margin-bottom: 20px;
    display: inline-block;
    filter: drop-shadow(0 0 5px rgba(0, 255, 221, 0.4));
    transition: all 0.3s ease;
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px #00ffdd);
}

.services-card h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.services-card p {
    color: #aaa;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}


.services-card .read-more {
    color: #00ffdd;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.services-box:hover .services-card .read-more {
    gap: 15px; 
}



.services-box:hover .services-icon {
    color: #000000 !important;
    filter: none !important;
}


.services-box:hover .services-card h3 {
    color: #000000;
}


.services-box:hover .services-card p {
    color: #111111; 
}


.services-box:hover .services-card .read-more {
    color: #00ffdd;
}
/*  Mobile Responsive */
@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: repeat(1, 1fr); 
        gap: 25px;
    }
    .services-section {
        padding: 60px 5%;
    }
}