
.skills-section {
    position: relative;
    display: block;
    width: 100%;
    /* background: radial-gradient(circle at 10% 20%, rgba(27, 24, 39, 0.8) 0%, rgb(24, 28, 41) 90%); */
    padding: 100px 10%;
    color: #fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

/* Heading styles */
.skills-section .sub-title {
    color: #00ffdd; 
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 10px;
}

.skills-section h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    margin-bottom: 60px;
    color: #fff;
}

/* Skills GRID Structure */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    width: 100%;
    max-width: 1200px;
}


.skills-box {
    position: relative;
    width: 100%;
    background: radial-gradient(circle at 10% 20%, rgba(0, 13, 65, 0.859) 0%, rgb(0, 9, 36) 90%);
    border: 1px solid rgba(255, 255, 255, 0.05); 
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    transition: all 0.3s ease; 
    cursor: pointer;
}


.skills-box:hover {
    transform: translateY(-8px);
    background: #ffffff; 
    border-color: rgba(0, 255, 221, 0.799); 
    box-shadow: 0 10px 30px rgba(0, 229, 255, 0.3);
}

.skills-box:hover .skills-icon {
    color: #000000;
    filter: none; 
}


.skills-box:hover .skills-card h3 {
    color: #000000;
}


.skills-box:hover .skills-card p {
    color: #111111; 
}

/* Icon style */
.skills-icon {
    color: #00ffdd; 
    font-size: 36px;
    margin-bottom: 18px;
    transition: all 0.3s ease;
}

.skills-box:hover .skills-icon {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgba(0, 255, 221, 0.4));
}

.skills-card h3 {
    font-size: 19px;
    margin-bottom: 8px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.skills-card p {
    color: #aaa;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}


@media (max-width: 992px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .skills-section {
        padding: 60px 5%; 
    }
    .skills-grid {
        grid-template-columns: repeat(1, 1fr); 
    }
    .skills-box {
        padding: 25px;
    }
}

