*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: radial-gradient(circle at 10% 20%, rgba(27, 24, 39, 0.8) 0%, rgb(24, 28, 41) 90%); */

    background: #19181d;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: absolute; 
    top: 2%;
    left: 0;
    width: 100%; 
    z-index: 1000; 
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px; 
   
}

.header ul li {
    padding: 0; 
}

.header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    text-decoration: none;
    color: #ffffff;
    font-size: 13px; 
    font-weight: bold;
    position: relative;
    transition: color 0.4s ease;
    /* top: -15px; */
    
    width: 170px; 
    text-align: center; 
    padding: 12px 12px; 
}

.header ul li a:hover,
.header ul li a.active{
    color: #00e5ff;
}


.header ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    bottom: -5px;


    width: 80%; 
    height: 100%;

    border: 2px solid #00e5ff;
    border-top: none;
    border-radius: 0px; 

    box-shadow: 0 5px 15px rgba(0, 229, 255, 0.6); 
    
    /* background: rgba(255, 255, 255, 0.05); */
    opacity: 0;
    transition: opacity 0.4s ease, bottom 0.4s ease;
    pointer-events: none;
}

.header ul li a:hover::after,
.header ul li a.active::after{
    /* background: rgba(255, 255, 255, 0.05); */
    opacity: 1;
    bottom: -8px;
}


.checkbtn{
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

#check{
    display: none;
}
.menu-header {
    display: none;
}


@media (max-width: 950px){
    .header{
        justify-content: flex-end;
        padding: 20px 5%;
    }

    .checkbtn{
        display: block;
    }


    .header ul{
        position: fixed;
        width: 300px; 
        height: 100vh;
        box-shadow: 0 10px 30px rgba(220, 220, 220, 0.399);
        background: transparent;
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        
        top: 0;
        left: -320px; 
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: flex-start;
        padding: 30px 20px;
        gap: 15px;
        transition: all 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
        z-index: 999;
        border-right: 1px solid rgb(174, 174, 174); 
    }

    /* Mobile menu top */
    .menu-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: left;
        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 2px solid #00ffbb; 
        
    }

    .menu-title {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .closebtn {
        color: #ffffff;
        font-size: 26px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: #ff0000;
    }

    /* Mobile Links and Icons  */
    .header ul li {
        width: 100%;
        padding: 0;
    }

    .header ul li a {
        display: flex;
        align-items: left;
        width: 100%;
        font-size: 12px;
        justify-content: left;
        padding: 12px 15px;
        gap: 20px; 
        color: #ffffff;
        transition: 0.3s;
    }

    .header ul li a i {
        font-size: 20px;
        width: 25px; 
        text-align: left;
    }

    .header ul li a:hover,
    .header ul li a.active {
        color: #000000;
        background: rgba(0, 255, 234, 0.995); 
        border-radius: 8px;
    }
 
    .header ul li a::after {
        display: none;
    }


    #check:checked ~ ul{
        left: 0;
    }
}

.navbar{
    position: fixed; 
    width: 100%; top: 0; z-index: 100; 
    background: rgba(6, 11, 20, 0.9); 
    padding: 20px 10%; 
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center; 
    box-sizing: border-box; 
    border-bottom: 1px solid rgba(255,255,255,0.05);
}